<% include ./partials/header %>

<div class="jumbotron" id="aboutjumbotron">
    <h1 class="display-4">companyName</h1>
    <p class="lead">All types of Fabrics can be found in our shop at minimum prices.</p>
</div>
<div class="container">
   <p>For more information contact</p>
    <h2 class="text-center">xyz</h2>
    <p class="text-center">Owner-companyName</p>
    <p class="text-center">Mobile : **********</p>
    <p>Or visit our store</p>
</div>

<% include ./partials/footer %>