#contenthome{
    color: white;
    text-align: center;
    margin-top: 15em;
}

#navbar{
    height: 60px;
    /* background:transparent; */
}
.navbar-light span.navbar-toggler-icon {
    stroke: white;
    color: white;
  }
  /* change hamburger button border color */
  button.navbar-toggler.navbar-toggler-right {
    border-color: white;
  }
.fas.fa-tshirt{
    margin-right: 10px;
}
body{
    background: url("https://images.pexels.com/photos/994517/pexels-photo-994517.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-light .navbar-nav .nav-link{
    color: white !important;
    margin: 10px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: white !important;
}
.navbar-light .navbar-brand{
    color: white !important;
}

.btn.btn-info.btn-lg{
    margin-top: 20px;
}
.fas.fa-info{
    padding-left: 10px;
    color: white;
}
.fas.fa-home{
    padding-left: 10px;
    color: white;
}
.fas.fa-plus{
    padding-left: 10px;
    color: white;
}
.fas.fa-globe-asia{
    padding-left: 10px;
    color: white;
}
.created{
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1080px) {
    #right{
        margin-left: 25em;
    }
}
@media screen and (max-width: 800px) {
    /*Content text On phone*/
    #contenthome{
        color: white;
        text-align: center;
        margin-top: 5%;
    }
    .contentText{
        font-size: 5em;
    }
    .collapse .navbar-collapse{
        background-color: white !important;
    }
    #contentButton{
        font-size: x-large;
    }
}
@media screen and (max-width: 991px) {
    /*Show Hamburger*/
    
}
@media screen and (min-width: 991px) {
    /*Hide Hamburger*/
   
}
